.products-wrapper {
  background: rgb(77, 77, 77);
  padding: 1em;
  width: 100%;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product {
  display: inline-block;
  margin-top: 1em;
  max-height: 24em;
  max-width: 24em;
  padding: 1em;
  background: rgb(36, 36, 36);
}

.product > img {
  width: 100%;
}
